extends includes/layout.pug

block content

  - var categoriesList = list_categories({ show_count: false })
  #category
    h1 我在categoty.pug这页中
    if categoriesList
      != categoriesList
    else
      p None.
    h1= page.category
    - page.posts.each(function(article){
      .category-item
        if article.link
          a(href=url_for(article.link) target="_blank")
            = article.title || 'No Title'
        else
          a(href=url_for(article.path))= article.title || 'No Title'
        time(datetime=date_xml(article.date))= date(article.date)
    - })
  include includes/pagination.pug

