extends includes/layout.pug

block content
  article#page
    != page.content
    if is_current('about')
      include partials/about
    else if is_current('projects')
      include partials/projects
    else if is_current('tags')
      include partials/tags.pug
    else if is_current('categories')
      include partials/categories.pug
  include includes/pagination.pug

