- var pagi = paginator()
- console.log(pagi)
nav#pagination
  //- previous page link, some pages may have a different url
  if page.prev_link
    a.pagination-link(class='prev', href=url_for(page.prev_link))!= __('posts.prev_post')
  else if page.prev && page.prev.path
    a.pagination-link(class='prev', href=url_for(page.prev.path))!= __('posts.prev_post')

  //- show the page counts if there are any
  if typeof page.current === 'number' && typeof page.total === 'number'
    span.page-number
      = 'Page ' + page.current +  ' of ' + page.total

  //- next page link, again the logic is different on different pages
  if page.next_link
    a.pagination-link(class='next', href=url_for(page.next_link))!= __('posts.next_post')
  else if page.next && page.next.path
    a.pagination-link(class='next', href=url_for(page.next.path))!= __('posts.next_post')

