#menu-outer {
    height: 100px;
}

#content-outer {
    max-width: 80%;
    margin: 0 auto;
}


#content-inner {
    width: 80%;
}
#content-aside {
    width: 15%;
    margin-left: 5%;
}