@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  #post {
    width: 75%;
    margin-right: 2em;
  }
  #post-toc {
    display: block;
  }

}
@media (min-width: 1200px) {
  #post {
    width: 75%;
    margin-right: 2em;
  }
  #post-toc {
    display: block;
  }
}

@media (min-width: 1367px) {
  body {
    font-size: 17px;
  }
}

@media only screen and ( max-width: 640px ) {
  blockquote {
    margin: 1em 0;
  }
}
