$color-body-bg: #fff;
$color-menu-outer-bg: #24292e;
$color-font: #333;
$color-font-opposite: #eee;
$color-link: #1abc9c;
$color--outer-border: #ebebeb;

/* toc */
$post-toc-width: 200px !default;
$post-toc-title-size: 20px !default;
$post-toc-list-style: square !default;
